= form_for @product_category do |f|
  = f.error_messages
  = field_set_tag t('shoppe.product_category.category_details') do
    .splitContainer
      %dl.half
        %dt= f.label :name_en, t('shoppe.product_category.name')
        %dd= f.text_field :name_en, :class => 'focus text'
      %dl.half
        %dt= f.label :name_es, "Name ES"
        %dd= f.text_field :name_es, :class => 'text'
    .splitContainer
      %dl.half
        %dt= f.label :permalink, t('shoppe.product_category.permalink')
        %dd= f.text_field :permalink, :class => 'text'
    %dl
      %dt= f.label :description_en, t('shoppe.product_category.description')
      %dd= f.text_area :description_en, :class => 'text'
    %dl
      %dt= f.label :description_es, "Description ES"
      %dd= f.text_area :description_es, :class => 'text'

  = field_set_tag t('shoppe.product_category.attachments') do
    %dl
      %dt= f.label :image_file, t('shoppe.product_category.image')
      %dd
        = attachment_preview @product_category.image
        %p= f.file_field :image_file

  %p.submit
    - unless @product_category.new_record?
      %span.right= link_to t('shoppe.delete') , @product_category, :class => 'button purple', :method => :delete, :data => {:confirm => t('shoppe.product_category.delete_confirmation') }
    = f.submit t('shoppe.submit'),  :class => 'button green'
    = link_to t('shoppe.cancel') , :product_categories, :class => 'button'
