- @page_title = t('shoppe.products.products')

= content_for :header do
  %p.buttons
    = link_to "Add Amazon Product", :amazon, :class => 'button green'  
    = link_to t('shoppe.products.new_product'), :new_product, :class => 'button green'  
    = link_to t('shoppe.products.import_products'), :import_products, :class => 'button gray'
  %h2.products= t('shoppe.products.products')

= render 'table', :products => @products
